// Custom variables
$primary-color: #444;
$secondary-color: #f56a29;
$community-color: #d5d0c8;
$links-color: #fff;
$portrait-bg-color: #2b2424;
$nav-bg-color: #332c2c;
$menu-img-border-color: #f56a29;
$show-home-image: true;
$home-image: url("../img/macB.jpg");
$portrait-image: url("../img/wolfy.jpg");
$background-opacity: 0.9;
// Mixins
@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}
